<header>
    <div class="container">
        <a routerLink="/" class="logo"> Avicar </a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">
                        Login
                    </a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Avion</a>
                    <div class="menu">
                        <a routerLink="/profile">
                            Profile
                        </a>
                        <a routerLink="/orders">Ordenes</a>
                        <a>Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
