<header>
    <div class="container">
        <a routerLink="/amdin" class="logo"> Usuario Administrador </a>
        <nav>
            <ul>
                <li class="menu-container">
                    <a >Usuarios</a>
                    <div class="menu">
                        <a routerLink="registro">
                            Registrar Usuario
                        </a>
                        <a routerLink="/eliminarUsuario">Eliminar Usuario</a>
                    </div>
                </li>
                <li class="menu-container">
                    <a >Autos</a>
                    <div class="menu">
                        <a routerLink="/crearUsuario">
                            Registrar Auto
                        </a>
                        <a routerLink="/eliminarAuto">Eliminar Auto</a>
                    </div>
                </li>
                <a routerLink="logo" routerLink="/">Log Out</a>
            </ul>
        </nav>
    </div>
</header>
