<app-header-admin></app-header-admin>
<div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Formulario de Registro de Usuarios</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input type="text" name="nombre" placeholder="Nombre completo" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input type="text" name="usuario" placeholder="Nombre de Usuario" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password" placeholder="Contraseña" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password" placeholder="Confirme Contraseña" required />
            </div>
            <div class="input_field select_option">
                <select>
                <option>Selecione tipo de Usuario</option>
                <option>Turista</option>
                <option>Recepcionista</option>
                </select>
                <div class="select_arrow"></div>
            </div>
            <div class="input_file"> 
                <p>Subir Foto de Perfil</p>
                <input type="file" id="myFile" name="filename" >
            </div>
            <input class="button" type="submit" value="Registrar" />
          </form>
        </div>
      </div>
    </div>
  </div>